mixin strengthIcon(id)
	case id
		when 'strength'
			svg(width="60px" height="62px" viewBox="0 0 60 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(id="page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
					g(id="main-3" transform="translate(-361.000000, -980.000000)" stroke="#CFAA6B" stroke-width="2")
						g(id="Group-6" transform="translate(362.000000, 981.000000)")
							path(d="M50.8695652,28.6956522 C50.8695652,40.9421739 40.9421739,50.8695652 28.6956522,50.8695652 C16.4491304,50.8695652 6.52173913,40.9421739 6.52173913,28.6956522 C6.52173913,16.4491304 16.4491304,6.52173913 28.6956522,6.52173913 C40.9421739,6.52173913 50.8695652,16.4491304 50.8695652,28.6956522 Z" id="Stroke-1")
							path(d="M57.3913043,28.6956522 C57.3913043,44.5434783 44.5434783,57.3913043 28.6956522,57.3913043 C12.8478261,57.3913043 0,44.5434783 0,28.6956522 C0,12.8478261 12.8478261,0 28.6956522,0 C44.5434783,0 57.3913043,12.8478261 57.3913043,28.6956522 Z" id="Stroke-3")
							path(d="M19.5652174,7.82608696 L19.5652174,49.5652174" id="Stroke-5")
							path(d="M37.826087,7.82608696 L37.826087,49.5652174" id="Stroke-7")
							path(d="M28.6956522,0 L28.6956522,6.52173913" id="Stroke-9")
							path(d="M50.8695652,28.6956522 L57.3913043,28.6956522" id="Stroke-11")
							path(d="M5.2173913,28.6956522 L0,28.6956522" id="Stroke-13")
							path(d="M28.6956522,50.8695652 L28.6956522,57.3913043" id="Stroke-15")
							path(d="M49.5652174,10.4347826 L45.6521739,14.3478261" id="Stroke-17")
							path(d="M7.82608696,10.4347826 L11.7391304,14.3478261" id="Stroke-19")
							path(d="M10.4347826,49.5652174 L14.3478261,45.6521739" id="Stroke-21")
							path(d="M46.9565217,49.5652174 L43.0434783,45.6521739" id="Stroke-23")
							path(d="M32.6086957,39.1304348 C32.6086957,41.2917391 30.8569565,43.0434783 28.6956522,43.0434783 C26.5343478,43.0434783 24.7826087,41.2917391 24.7826087,39.1304348 C24.7826087,36.9691304 26.5343478,35.2173913 28.6956522,35.2173913 C30.8569565,35.2173913 32.6086957,36.9691304 32.6086957,39.1304348 Z" id="Stroke-25")
							polyline(id="Stroke-27" points="14.3478261 53.4782609 9.13043478 60 1.30434783 60 6.52173913 46.9565217")
							polyline(id="Stroke-29" points="43.0434783 53.4782609 48.2608696 60 56.0869565 60 50.8695652 46.9565217")
		when 'taste'
			svg(width="56px" height="62px" viewBox="0 0 56 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(id="page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
					g(id="main-3" transform="translate(-531.000000, -980.000000)" stroke="#CFAA6B" stroke-width="2")
						g(id="Group-5" transform="translate(532.000000, 981.000000)")
							path(d="M19.0909091,27.2727273 L19.0909091,47.7272727" id="Stroke-70")
							path(d="M25.9090909,27.2727273 L25.9090909,47.7272727" id="Stroke-71")
							path(d="M32.7272727,27.2727273 L32.7272727,47.7272727" id="Stroke-72")
							path(d="M33.6042273,4.41981818 C32.2433182,5.62936364 31.7919545,6.72709091 31.4524091,8.15754545" id="Stroke-73")
							path(d="M6.81818182,9.54545455 C8.355,9.54545455 9.77318182,10.0540909 10.9131818,10.9118182" id="Stroke-74")
							path(d="M8.18181818,42.2727273 L8.18181818,51.8181818 L6.33409091,55.515 C5.80909091,56.5636364 6.015,57.8331818 6.84545455,58.6636364 L8.18181818,60 L40.9090909,60 L42.2454545,58.6636364 C43.0759091,57.8331818 43.2818182,56.5636364 42.7568182,55.515 L40.9090909,51.8181818 L40.9090909,49.0909091 L43.6363636,49.0909091 C44.4218182,49.0909091 45.1745455,48.7786364 45.7309091,48.2236364 L50.3863636,43.5681818 C52.1768182,41.7777273 53.1818182,39.3490909 53.1818182,36.8181818 L53.1818182,27.2727273 C53.1818182,25.0131818 51.3504545,23.1818182 49.0909091,23.1818182 L40.9090909,23.1818182 L40.9090909,17.7272727 C43.6363636,16.4768182 45.6245455,10.7290909 43.6363636,6.81818182 C42.5154545,4.61181818 38.6931818,2.04545455 33.6545455,4.43181818 C32.1545455,2.56227273 29.8554545,1.36363636 27.2727273,1.36363636 C25.1331818,1.36363636 23.19,2.19136364 21.7322727,3.53727273 C20.2581818,1.40454545 17.8009091,0.00409090909 15.0122727,-5.93819131e-14 C12.7295455,-0.00272727273 6.05181818,1.27909091 6.81818182,9.54545455 C2.88272727,10.1386364 0.00136363636,13.6268182 0.00136363636,17.7272727 C0.00136363636,20.7545455 1.36363636,23.3972727 4.09090909,24.8127273 L4.09090909,38.1818182 C4.09090909,40.4413636 5.92227273,42.2727273 8.18181818,42.2727273 C10.4413636,42.2727273 12.2727273,40.4413636 12.2727273,38.1818182 L12.2727273,24.5454545 C12.2727273,20.7804545 15.3259091,17.7272727 19.0909091,17.7272727 L40.9090909,17.7272727" id="Stroke-75")
							path(d="M38.1818182,54.5454545 L10.9090909,54.5454545" id="Stroke-76")
							path(d="M40.9090909,28.6363636 L40.9090909,43.6363636 L42.2727273,43.6363636 L46.9281818,38.9809091 C47.4395455,38.4695455 47.7272727,37.7754545 47.7272727,37.0513636 L47.7272727,30 C47.7272727,29.2472727 47.1163636,28.6363636 46.3636364,28.6363636 L40.9090909,28.6363636 Z" id="Stroke-77")
		when 'color'
			svg(width="29px" height="61px" viewBox="0 0 29 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(id="page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round")
					g(id="main-3" transform="translate(-706.000000, -981.000000)" stroke="#CFAA6B" stroke-width="2")
						g(id="Group-4" transform="translate(707.000000, 982.000000)")
							path(d="M26.0869565,7.82608696 L26.0869565,18.1173913 C26.0869565,20.8356522 24.6769565,23.3582609 22.3630435,24.7826087 L13.0434783,30" id="Stroke-50")
							path(d="M26.0869565,27.3913043 L26.0869565,30 C26.0869565,32.7169565 24.6769565,35.2408696 22.3630435,36.6652174 L13.0434783,41.8826087 L13.0434783,32.7521739" id="Stroke-51")
							path(d="M26.0869565,39.2737826 L26.0869565,41.8824783 C26.0869565,44.5994348 24.6769565,47.1233478 22.3630435,48.5476957 L13.0434783,53.765087 L13.0434783,44.6346522" id="Stroke-52")
							path(d="M0,7.82608696 L0,18.1173913 C0,20.8356522 1.41,23.3582609 3.72391304,24.7826087 L13.0434783,30" id="Stroke-53")
							path(d="M0,27.3913043 L0,30 C0,32.7169565 1.41,35.2408696 3.72391304,36.6652174 L13.0434783,41.8826087 L13.0434783,32.7521739" id="Stroke-54")
							path(d="M0,39.2737826 L0,41.8824783 C0,44.5994348 1.41,47.1233478 3.72391304,48.5476957 L13.0434783,53.765087 L13.0434783,44.6346522" id="Stroke-55")
							path(d="M7.82478261,20.8702174 C7.82478261,26.4267391 13.0421739,30.0006522 13.0421739,30.0006522 C13.0421739,30.0006522 18.2608696,26.4254348 18.2608696,20.8702174 C18.2608696,15.3136957 13.0421739,11.7397826 13.0421739,11.7397826 C13.0421739,11.7397826 7.82478261,15.3136957 7.82478261,20.8702174 Z" id="Stroke-56")
							path(d="M13.0434783,0 L13.0434783,11.7391304" id="Stroke-57")
							path(d="M13.0434783,30 L13.0434783,58.9826087" id="Stroke-58")
							path(d="M6.52173913,3.91304348 L6.52173913,11.7391304" id="Stroke-59")
							path(d="M19.5652174,3.91304348 L19.5652174,11.7391304" id="Stroke-60")
		when 'ingredients'
			svg(width="62px" height="62px" viewBox="0 0 62 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(id="page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round")
					g(id="main-3" transform="translate(-855.000000, -980.000000)" stroke="#CFAA6B" stroke-width="2")
						g(id="Group-12" transform="translate(856.000000, 981.000000)")
							path(d="M1,52 L14,52" id="Stroke-61")
							path(d="M22.4642857,0 L22.4642857,11.7391304 C22.4642857,11.7391304 22.1339286,19.8913043 22.4642857,19.5652174 L22.4642857,30 L35.6785714,40.4347826 L35.6785714,52.173913 L37,53.4782609 L37,60 L0,60 L0,53.4782609 L1.32142857,52.173913 L1.32142857,40.4347826 L14.5357143,30 L14.5357143,19.5652174 L14.5357143,9.13043478" id="Stroke-62")
							path(d="M36,52 L29,52" id="Stroke-63")
							path(d="M59,47 L46,47" id="Stroke-64")
							path(d="M40.625,55 L60,55 L60,48.4285714 L58.7083333,47.1142857 L58.7083333,37.8117714 C58.7083333,36.2162286 57.9940417,34.7048 56.7695417,33.7072571 L45.7916667,24.7714286 L45.7916667,18.2 C45.7916667,13.1189714 41.7435833,9 36.75,9 L29,9" id="Stroke-65")
							path(d="M30,31 L38,24.6363636 L38,19.5454545 C38,18.1403636 36.8053333,17 35.3333333,17 L22,17" id="Stroke-66")
							path(d="M15,35 L8,40" id="Stroke-67")
							path(d="M39,29 L35,33" id="Stroke-68")
		when 'age'
			svg(width="66px" height="52px" viewBox="0 0 66 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(id="page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
					g(id="main-3" transform="translate(-1017.000000, -985.000000)" stroke="#CFAA6B" stroke-width="2")
						g(id="Group-2" transform="translate(1018.000000, 986.000000)")
							path(d="M19.4444444,48.0225 C23,48.4030556 28.1,48.6072222 31.9180556,48.6113889 C35.7541667,48.6141667 40.8736111,48.4169444 44.4444444,48.0391667" id="Stroke-31")
							path(d="M13.8888889,2.95416667 C8.73611111,3.89305556 4.04305556,5.22222222 0,6.85833333 L0,43.0958333 C4.04305556,44.7375 8.73611111,46.0736111 13.8888889,47.0208333" id="Stroke-33")
							path(d="M44.4444444,1.9775 C40.8888889,1.59694444 35.7888889,1.39277778 31.9708333,1.38861111 C28.1347222,1.38583333 23.0152778,1.58305556 19.4444444,1.96083333" id="Stroke-35")
							path(d="M50,47.0459722 C55.1527778,46.1070833 59.8458333,44.7779167 63.8888889,43.1418056 L63.8888889,6.90430556 C59.8458333,5.26263889 55.1527778,3.92652778 50,2.98069444" id="Stroke-37")
							path(d="M19.4444444,34.4808333 C23.0055556,34.635 28.1138889,34.7183333 31.9319444,34.7225 C35.7638889,34.7252778 40.8777778,34.6475 44.4444444,34.4975" id="Stroke-39")
							path(d="M13.8888889,15.8955556 C8.71527778,16.2705556 4.01388889,16.8025 0,17.4580556 L0,32.4913889 C4.01666667,33.1538889 8.71666667,33.6941667 13.8902778,34.0761111" id="Stroke-41")
							path(d="M44.4444444,15.5198611 C40.8847222,15.3643056 35.7805556,15.2809722 31.9569444,15.2781944 C28.1305556,15.2740278 23.0138889,15.3518056 19.4444444,15.5018056" id="Stroke-43")
							path(d="M50.0013889,34.1023611 C55.1527778,33.7273611 59.8458333,33.1968056 63.8888889,32.54125 L63.8888889,17.5093056 C59.8458333,16.8468056 55.1527778,16.3079167 50,15.9259722" id="Stroke-45")
							polygon(id="Stroke-47" points="13.8888889 49.9998611 19.4444444 49.9998611 19.4444444 -0.000138888889 13.8888889 -0.000138888889")
							polygon(id="Stroke-49" points="44.4444444 49.9998611 50 49.9998611 50 -0.000138888889 44.4444444 -0.000138888889")

mixin radio-buttons()
	- var answerOptions = [];
	- answerOptions.push({id: 'strength', label: 'Крепость', checked: false});
	- answerOptions.push({id: 'taste', label: 'Вкус', checked: false});
	- answerOptions.push({id: 'color', label: 'Цвет', checked: true});
	- answerOptions.push({id: 'ingredients', label: 'Ингредиенты', checked: false});
	- answerOptions.push({id: 'age', label: 'Возраст', checked: false});

	+b.radio-buttons&attributes(attributes)
		each option in answerOptions
			+e.option
				+e.INPUT.input.visuallyhidden(type='radio' id=option.id name='answer' value=option.id checked=option.checked ? '' : option.checked)
				+e.LABEL.label(for=option.id)
					+strengthIcon(option.id)
					p #{option.label}
